# Binaries
pbnturtle
paintbynumbers.wasm
.DS_Store
wasm_exec.js
*.exe
*.exe~
*.dll
*.so
*.dylib
*.wasm

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
